#box{
    width: 400px;
    height: 400px;
    background-color: #000000;
    position: absolute;
    overflow: hidden;
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
}

#myButton{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.enabled{
    background-color: hsl(204, 100%, 50%);
}
.hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    font-weight: bold;
}

.pokemonImg{
    display: none;
}